@section Styles{ 
    <style>
        .createPost{
            margin-bottom:20px;
        }
        #app {
            width:100%;
        }
        .operation {
            display:flex;
            flex-direction:row;
        }
    </style>
}

<div id="app">
    <div class="cms-filter">

    </div>

    <div class="createPost">
        <el-button type="primary"
                   size="mini"
                   @@click="handleCreatePost"
                   icon="el-icon-plus">
            添加内容
        </el-button>
    </div>

    <div class="cms-table">
        <template v-if="tableData && tableData.length>0">
            <el-table :data="tableData"
                      style="width: 100%;">

                <el-table-column label="标题">
                    <template slot-scope="scope">
                        <a @@click.pre="handleTitleClicked(scope.row.id)" href="#">{{scope.row.title}}</a>
                    </template>
                </el-table-column>
                <el-table-column prop="category.name"
                                 label="分类">
                </el-table-column>
                <el-table-column label="展示">
                    <template slot-scope="scope">
                        {{scope.row.isVisiable?'是':'否'}}
                    </template>
                </el-table-column>
                <el-table-column prop="createTime"
                                 label="创建时间">
                </el-table-column>
                <el-table-column prop="author"
                                 label="作者">
                </el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">

                        <div class="operation">
                            <el-button v-if="scope.row.isVisiable" size="mini"
                                       @@click="handleVisiable(scope.row.id,false)" type="primary">不展示</el-button>
                            <el-button v-else size="mini"
                                       @@click="handleVisiable(scope.row.id,true)" type="primary">展示</el-button>

                            <el-button size="mini"
                                       @@click="handleEdit(scope.row.id)" type="primary"><i class="el-icon-edit"></i></el-button>
                            <el-button size="mini"
                                       type="danger"
                                       @@click="handleDelete(scope.row.id)"><i class="el-icon-delete"></i></el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </template>
        <template v-else>
            <h4>没有找到任何数据!</h4>
        </template>
    </div>

    <div class="cms-pagination">
        <el-pagination @@size-change="handlePageSizeChanged"
                       @@current-change="handlePageIndexChanged"
                       :page-size="filter.pageSize"
                       layout="total, prev, pager, next"
                       :total="totalCount">
        </el-pagination>
    </div>
</div>
@section Scripts{
    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    filter: {
                        categoryId: '',
                        title: '',
                        content: '',
                        author: '',
                        isVisiable: '',
                        eeginCreateTime: '',
                        endCreateTime: '',
                        pageIndex: 1,
                        pageSize: 20
                    },
                    tableData: [],
                    totalCount: 0
                }
            },
            methods: {
                handleCreatePost: function () {
                    location.href ='/admin' + cms.pages.backstage.post_create +'?m=1-1';
                 },
                loadTableData: function () {
                    var me = this;
                    Vue.http.get(cms.urls.post.list, me.filter)
                        .then((res) => {
                            var body = res.body;
                            if (body.success) {
                                me.tableData = body.data.data;
                                me.totalCount = body.data.totalCount;
                            } else {
                                alert('加载出错' + body.error_message);
                            }
                        })
                        .catch((err) => {
                            alert('加载出错' + err.body.error_message);
                        });
                },
                handlePageSizeChanged: function (pageSize) {
                    this.filter.pageSize = pageSize;
                    this.loadTableData();
                },
                handlePageIndexChanged: function (pageIndex) {
                    this.filter.pageIndex = pageIndex;
                    this.loadTableData();
                },
                handleEdit: function (id) { 

                },
                handleDelete: function () { 

                },
                handleVisiable: function (id, changeVisiableTo) { 
                    
                },
                handleTitleClicked: function (id) {
                    // 跳转到前台展示页面
                    console.log(id);
                }
            },
            created: function () {
                this.loadTableData();
            }
        });
    </script>
}