@{
    Layout = "_BootstrapLayout";
}

@section Styles
    {
    <style>
        .preview {
            font-size: 16px;
            line-height: 24px;
        }

        .page-navigation {
            text-align: center;
        }
    </style>
}

    <div id="postWrapper">
       
    </div>



<nav aria-label="Page navigation" class="page-navigation">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
@section Scripts{ 
    <script>

        var template = ` 
            <div class="panel panel-default">
                <div class="panel-body">
                <h3>{{title}}</h3>
                <p>{{time}}  {{category}}  约 {{length}} 字  预计阅读 {{readMiniutes}} 分钟</p>
                <hr />
                <p class="preview">
                    {{description}}
                </p>
                <div class="btn-group" role="group">
                    <button type="button" data-id="{{id}}" class="btn btn-default pull-right btn-detail">阅读全文</button>
                </div> 
                </div>
             </div>`;

        $(function () {

            var redrectToDetail = function (id) {
                location.href = pages.post.detail + '?id=' + id;
            };

            $(document).on('click','.btn-detail', function () {
                var id = $(this).data('id');
                redrectToDetail(id);
            });

            var container = $('#postWrapper');

            var load = function () { 
                $.get(apis.post.getList, function (res) {
                    if (res.success) {
                        var data = res.data.data;
                        for (var item of data) {
                            var dom = template.replace('{{id}}', item.id)
                                .replace('{{title}}', item.title)
                                .replace('{{readMiniutes}}', item.readMiniutes)
                                .replace('{{length}}', item.length)
                                .replace('{{description}}', item.description)
                                .replace('{{time}}', item.createTime)
                                .replace('{{category}}', item.category.name);
                            container.append($(dom));
                        }
                    }
                })
            }
        })
    </script>
}