@{
    Layout = "_BootstrapLayout";
}
@section Styles
{
    <style>
        .preview {
            font-size:16px;
            line-height:24px;
        }
        .page-navigation {
            text-align:center;
        }
    </style>
}

<div class="panel panel-default">
    <div class="panel-body">
        <h2>用自动化替代重复</h2>
        <p>2018-06-12  Software Project  约 3873 字  预计阅读 8 分钟</p>
        <hr />
        <p class="preview">
            相信大家都有去图文制作、照相馆这些地方拍证件照的经历。在这些专业的场所，他们从采集照片，到出照片不到10分钟。其间，有多名工作人员参与其中：相信大家都有去图文制作、照相馆这些地方拍证件照的经历。在这些专业的场所，他们从采集照片，到出照片不到10分钟。其间，有多名工作人员参与其中：相信大家都有去图文制作、照相馆这些地方拍证件照的经历。在这些专业的场所，他们从采集照片，到出照片不到10分钟。其间，有多名工作人员参与其中：相信大家都有去图文制作、照相馆这些地方拍证件照的经历。在这些专业的场所，他们从采集照片，到出照片不到10分钟。其间，有多名工作人员参与其中：
        </p>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default pull-right">阅读全文</button>
        </div>
    </div>
</div>




<nav aria-label="Page navigation" class="page-navigation">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>