
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    border:none;
}
body {
    max-height:100vh;
    display:flex;
    flex-direction:row;
    width:100%;
}

.left {
    
}
#leftbar {
    width:220px;
    height: 100vh;
    background: rgb(84, 92, 100);
}
#leftbar .logo-wrapper {
    background: rgb(84, 92, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    height:70px;
}
#leftbar .logo-wrapper img{
    display:block;
}
.right {
    flex-grow:1;
}

#topbar {
    display:flex;
    flex-direction:row;
}
    #topbar .topbar-menu {
        flex-grow:1;
    }
    #topbar .account-control {
        width:200px;
    }

.right main {
    padding:10px;
}