body {
    max-height:100vh;
}

.el-submenu__icon-arrow, .el-icon-arrow-down {
    display: none;
}

#topbar {
    height:6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    #topbar .logo {
        background: rgb(84, 92, 100);
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #topbar .logo h1{
        color:#ccc;
    }

    #topbar .topbar-menu {
        width: 75%;
    }

    #topbar .admin-control {
        width: 10%;
    }

.body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#left-menu {
    width: 15%;
    height: 94vh;
    background: rgb(84, 92, 100);
}
.body > main {
    padding:10px;
}
